<div class="sidebar-container">
  <div class="nav">
    <h2 class="-sf-mb-s - 25px">Acme Dwelling</h2>

    <ul class="-list-style-none -sf-mb-s - 25px -sf-ml--4xs - -5px">
      <li><span tabindex="0" class="sf-link -side">Dashboard</span></li>
    </ul>


    <p class="sectionTitle -sf-mb-5xs - 4px">Performance</p>
    <ul class="-list-style-none -sf-mb-s - 25px -sf-ml--4xs - -5px">
      <li><span tabindex="0" class="sf-link -side">Conversions</span></li>
      <li><span tabindex="0" class="sf-link -side">Touchpoints</span></li>
      <li><span tabindex="0" class="sf-link -side">Attribution</span></li>
    </ul>

    <p class="sectionTitle -sf-mb-5xs - 4px">Optimization</p>
    <ul class="-list-style-none -sf-mb-s - 25px -sf-ml--4xs - -5px">
      <li><span tabindex="0" class="sf-link -side">A/B tests</span></li>
      <li><span tabindex="0" class="sf-link -side">Recommendations</span></li>
      <li><span tabindex="0" class="sf-link -side">Personalization</span></li>
      <li><span tabindex="0" class="sf-link -side">Campaigns</span></li>
    </ul>

    <p class="sectionTitle -sf-mb-5xs - 4px">Audience</p>
    <ul class="-list-style-none -sf-mb-s - 25px -sf-ml--4xs - -5px">
      <li><span tabindex="0" class="sf-link -side -active">Personas</span></li>
      <li><span tabindex="0" class="sf-link -side">Lead scoring</span></li>
      <li><span tabindex="0" class="sf-link -side">Segment discovery</span></li>
      <li><span tabindex="0" class="sf-link -side">Contacts</span></li>
    </ul>
  </div>

  <img class="img" src="https://ux.sitefinity.com/DEC-iris_design/images/dashboard/u55.png" width="140px">

</div>
